cmake
gdown
ipykernel
ipywidgets
joblib
jsonargparse
jsonschema
jupyterlab
matplotlib
numba>=0.50
numpy
opencv-python-headless
pandas
progress
scikit-learn>=0.22.2.post1
seaborn
torchvision
umap-learn>=0.4.5
wandb
yapf
